@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;

}

body {
	background-repeat: repeat;
	background-color: rgba(234, 249, 255, 0.04);
	font-family: Poppins, sans-serif;
	color: #5b626b;
	font-size: 14px;

}



h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 10px 0;
	font-family: Sarabun, sans-serif;
	font-weight: 600
}


.home-main-title{
  margin-bottom: 20px;
    position: relative;
    text-align: center;
    padding: 10px 0;
}

.home-title:after {
    content: '';
    width: 80%;
    height: 2px;
    background: #124560;
    display: block;
    margin: 10px auto;
}
.home-title{
    color:#014295;
    display: inline-block;
    font-size: 26px;
    font-weight: 900;
    padding: 0 15px;
    position: relative;
    width: auto;
    z-index: 1;
    margin-bottom: 0;
    line-height: 20px;
    margin-top: 0;
    font-family: 'Futura PT Heavy', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

.about-us{
  margin-bottom: 20px;
  display: inline-block;
    width: 100%;
}

  .para-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 20px;
  }

  .read-more-div{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
    color:#0c4898;
    float: right;

  }


  .brand-bg{
    background:url(../../img/bg.jpg);
    padding: 20px 50px;
    position: relative;
  }
  .brand-bg:after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: 1;
  }



.owl-carousel{
  z-index: 99;
}

.item{
  width: 80%;
  margin:0 auto;

}
  .owl-nav button {
  position: absolute;
  top: 50%;
  background: transparent;
  margin: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.owl-nav button.owl-prev {
  left: -35px;
}
.owl-nav button.owl-next {
  right: -35px;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}
.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  background: #ccc;
  margin: 0 3px;
}
.owl-dots button.owl-dot.active {
  background-color: #000;
}
.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button span {
    font-size: 70px;    
    position: relative;
    top: -5px;
    color: #fff;
}
.owl-nav button:focus {
    outline: none;
}


.home-testimonial{
  margin:30px 0;
  display: inline-block;
    width: 100%;
}

.testimonial_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  background: #ccc;
  margin: 0 auto;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
}


.testimonials-div {
    padding: 20px 50px;
    position: relative;
  }

.testimonials-div .owl-nav button span {
    font-size: 70px;    
    position: relative;
    top: -5px;
    color: #000;
}

.testimonials-div .item{
  width: 100%;
  margin:0 auto;
}

.para-test{
  font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}


.videos-div{
  width:70%;
  margin: 0 auto;
   padding: 20px 50px;
    position: relative;
}

.videos-div .owl-nav button span {
    font-size: 70px;    
    position: relative;
    top: -5px;
    color: #000;
}

.videos-div .item{
  width: 100%;
  margin:0 auto;
}

/*
.feature-product{
  margin: 30px 0;
}*/

.feature-box{
  margin-bottom: 20px;
}
.feature-img{
  border: 1px solid #ccc;
}
.feature-content{
  background:#014295;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-top: 5px solid #fff;
  height: 150px;
}
.feature-img img{
  width: 100%;
}
.feature-title{
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 2px;
}
.feature-title:hover{
  text-decoration: none;
  color: #fff;
}
.feature-desc{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 5px 0;
}



#footer .widget .home-main-title{
  text-align: left;
  margin-bottom: 0;
}
#footer .widget h3.home-title{
  color: #014295!important;
    display: inline-block;
    font-size: 26px;
    font-weight: 900;
    padding: 0 15px;
    position: relative;
    width: auto;
    z-index: 1;
    margin-bottom: 0;
    line-height: 20px;
    margin-top: 0;
    font-family: 'Futura PT Heavy', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-bottom:0;

}

#footer .widget h3.home-title:after {
    content: '';
    width: 80%;
    height: 2px;
    background: #124560;
    display: block;
    margin: 10px auto;
}

.phone-footer {
    overflow: hidden;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 20px;
    color: #000;
    margin-bottom: 18px;
    margin-top: 12px;
}
.phone-footer a{
  color: #000!important;
}
.phone-footer a:hover{
   color: #014295!important;
}
.phone-footer img{
  margin-right: 8px;
}


.footer-menu-list {
    padding: 10px 20px
}

.footer-menu-list li {
    padding: 5px 0!important;
    text-indent: -7px;
    margin-left: 15px;;
    list-style: none;
    background: transparent!important;
}

.footer-menu-list li a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000;
}
.footer-menu-list li a img{
  margin-right: 6px;
  width: 11px;
}

.footer-contact {
    padding: 10px 20px
}


#footer .footer-menu-list li a {
    font-family: 'Roboto', sans-serif!important;
    font-size: 16px!important;
    color: #000!important;
}
.container .one-third.columns.footer-widget-column{
  width: 40%;
}
.container .one-third.columns.footer-widget-column:first-child {
  width: 25%;
}

.container .one-third.columns.footer-widget-column:last-child {
  width: 25%;
}

@media (max-width: 991px){
  .container .one-third.columns.footer-widget-column{
  width: 45%;
}
.container .one-third.columns.footer-widget-column:first-child {
  width: 20%;
}

.container .one-third.columns.footer-widget-column:last-child {
  width: 25%;
}
}

@media (max-width: 767px){
  .container .one-third.columns.footer-widget-column{
  width: 100%;
}
.container .one-third.columns.footer-widget-column:first-child {
  width: 100%;
}

.container .one-third.columns.footer-widget-column:last-child {
  width: 100%;
}
#footer .widget .main-title{
  text-align: center;
}
}